.minipage {
  margin-bottom : 20px;

  .page-info {
    text-align : right;

    div {
      color : #aaa;
      font-size : 12px;
    }
  }

  h3 {
    margin-top : 0;
  }

  .viz {
    overflow-x : scroll;
    padding : 0;
  }

  .viz::-webkit-scrollbar {
    background-color:#fff;
    height : 4px;
  } 

  .viz::-webkit-scrollbar-thumb {
    border-radius:4px;
    background-color:#aaa;
  } 

}